<a routerLink="/" routerLinkActive="active">Volver</a>

<div class="grid-container" #photoView>
    <div class="grid-item" ><img id="img0" alt="black glass lenses" src=""></div>
    <div class="grid-item"><img id="img1" alt="coffer" src=""></div>
    <div class="grid-item"><img id="img2" alt="bed sheet" src=""></div>
    <div class="grid-item"><img id="img3" alt="orchestra" src=""></div>
    <div class="grid-item"><img id="img4" alt="bodice" src=""></div>
    <div class="grid-item"><img id="img5" alt="desk" src=""></div>
    <div class="grid-item"><img id="img6" alt="lamp" src=""></div>
    <div class="grid-item"><img id="img7" alt="sunblind" src=""></div>
</div>