<a routerLink="/" routerLinkActive="active">Volver</a>

<div class="masonry gutterless" #photoView>
    <div class="brick tooltip"><img class="instrumento" id="img0" alt="black glass lenses" src=""><span class="tooltiptext">Black Glass Lenses</span></div>
    <div class="brick tooltip"><img class="mueble" id="img1" alt="coffer" src=""><span class="tooltiptext">Coffer</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img2" alt="black glass lenses" src=""><span class="tooltiptext">Black Glass Lenses</span></div>
    <div class="brick tooltip"><img class="mueble" id="img3" alt="bed sheet" src=""><span class="tooltiptext">Bed Sheet</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img4" alt="orchestra" src=""><span class="tooltiptext">Orchestra</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img5" alt="bodice" src=""><span class="tooltiptext">Bodice</span></div>
    <div class="brick tooltip"><img class="mueble" id="img6" alt="desk" src=""><span class="tooltiptext">Desk</span></div>
    <div class="brick tooltip"><img class="mueble" id="img7" alt="lamp" src=""><span class="tooltiptext">Lamp</span></div>
    <div class="brick tooltip"><img class="mueble" id="img8" alt="sunblind" src=""><span class="tooltiptext">Sunblind</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img9" alt="dress" src=""><span class="tooltiptext">Dress</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img10" alt="ruffle" src=""><span class="tooltiptext">Ruffle</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img11" alt="suit" src=""><span class="tooltiptext">Men’s Suit</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img12" alt="shirt bosoms" src=""><span class="tooltiptext">Shirt Bosoms</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img13" alt="dress" src=""><span class="tooltiptext">Dress</span></div>
    <div class="brick tooltip"><img class="mueble" id="img14" alt="tapestry" src=""><span class="tooltiptext">Tapestry</span></div>
    <div class="brick tooltip"><img class="mueble" id="img15" alt="chair" src=""><span class="tooltiptext">Chair</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img16" alt="scepter" src=""><span class="tooltiptext">Scepter</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img17" alt="piano" src=""><span class="tooltiptext">Piano</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img18" alt="ivory keyboard" src=""><span class="tooltiptext">Ivory Keyboard</span></div>
    <div class="brick tooltip"><img class="mueble" id="img19" alt="desk" src=""><span class="tooltiptext">Desk</span></div>
    <div class="brick tooltip"><img class="mueble" id="img20" alt="lamp" src=""><span class="tooltiptext">Lamp</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img21" alt="dress" src=""><span class="tooltiptext">Dress</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img22" alt="piano" src=""><span class="tooltiptext">Piano</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img23" alt="tulle" src=""><span class="tooltiptext">Tulle</span></div>
    <div class="brick tooltip"><img class="mueble" id="img24" alt="bench" src=""><span class="tooltiptext">Bench</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img25" alt="pipe" src=""><span class="tooltiptext">Pipe</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img26" alt="lyre" src=""><span class="tooltiptext">Lyre</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img27" alt="sail" src=""><span class="tooltiptext">Sail</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img28" alt="medal" src=""><span class="tooltiptext">Medal</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img29" alt="medal" src=""><span class="tooltiptext">Medal</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img30" alt="medal" src=""><span class="tooltiptext">Medal</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img31" alt="emerald" src=""><span class="tooltiptext">Emerald</span></div>
    <div class="brick tooltip"><img class="mueble" id="img32" alt="cabinet" src=""><span class="tooltiptext">Cabinet</span></div>
    <div class="brick tooltip"><img class="mueble" id="img33" alt="lamp" src=""><span class="tooltiptext">Lamp</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img34" alt="bronze bed" src=""><span class="tooltiptext">Bronze Bed</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img35" alt="quilt" src=""><span class="tooltiptext">Quilt</span></div>
    <div class="brick tooltip"><img class="mueble" id="img36" alt="mirror" src=""><span class="tooltiptext">Mirror</span></div>
    <div class="brick tooltip"><img class="mueble" id="img37" alt="desk" src=""><span class="tooltiptext">Desk</span></div>
    <div class="brick tooltip"><img class="mueble" id="img38" alt="japanese curtains" src=""><span class="tooltiptext">Japanese Curtains</span></div>
    <div class="brick tooltip"><img class="mueble" id="img39" alt="mirror" src=""><span class="tooltiptext">Mirror</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img40" alt="dresses" src=""><span class="tooltiptext">Dresses</span></div>
    <div class="brick tooltip"><img class="mueble" id="img41" alt="bed sheet" src=""><span class="tooltiptext">Bed Sheet</span></div>
    <div class="brick tooltip"><img class="mueble" id="img42" alt="coffer" src=""><span class="tooltiptext">Coffer</span></div>
    <div class="brick tooltip"><img class="mueble" id="img43" alt="painting" src=""><span class="tooltiptext">Painting</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img44" alt="dress" src=""><span class="tooltiptext">Dress</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img45" alt="---" src=""><span class="tooltiptext">---</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img46" alt="---" src=""><span class="tooltiptext">---</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img47" alt="vest" src=""><span class="tooltiptext">Vest</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img48" alt="socks" src=""><span class="tooltiptext">Socks</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img49" alt="male shoes" src=""><span class="tooltiptext">Male Shoes</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img50" alt="--" src=""><span class="tooltiptext">---</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img51" alt="cotillion" src=""><span class="tooltiptext">Cotillion</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img52" alt="dresses" src=""><span class="tooltiptext">Dresses</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img53" alt="shirt bosoms" src=""><span class="tooltiptext">Shirt Bosoms</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img54" alt="lapel" src=""><span class="tooltiptext">Lapel</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img55" alt="canvas" src=""><span class="tooltiptext">Canvas</span></div>
    <div class="brick tooltip"><img class="mueble" id="img56" alt="paintings" src=""><span class="tooltiptext">Paintings</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img57" alt="etchings" src=""><span class="tooltiptext">Etchings</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img58" alt="medal" src=""><span class="tooltiptext">Medal</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img59" alt="bronze sculpture" src=""><span class="tooltiptext">Bronze Sculpture</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img60" alt="marble sculpture" src=""><span class="tooltiptext">Marble Sculpture</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img61" alt="laboratory of psychophysics" src=""><span class="tooltiptext">Laboratory of Psychophysics</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img62" alt="precious stones" src=""><span class="tooltiptext">Precious Stones</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img63" alt="guillotine" src=""><span class="tooltiptext">Guillotine</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img64" alt="bomb" src=""><span class="tooltiptext">Bomb</span></div>
    <div class="brick tooltip"><img class="joyeria" id="img65" alt="pearls" src=""><span class="tooltiptext">Pearls</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img66" alt="shirt cuff" src=""><span class="tooltiptext">Shirt Cuff</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img67" alt="telegraph" src=""><span class="tooltiptext">Telegraph</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img68" alt="telegram" src=""><span class="tooltiptext">Telegram</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img69" alt="telegram" src=""><span class="tooltiptext">telegram</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img70" alt="dress" src=""><span class="tooltiptext">Dress</span></div>
    <div class="brick tooltip"><img class="instrumento" id="img71" alt="suitcase" src=""><span class="tooltiptext">Suitcase</span></div>
    <div class="brick tooltip"><img class="vestuario" id="img72" alt="shirt" src=""><span class="tooltiptext">Shirt</span></div>
</div>