<p><span class="style1">*// Imagen </span></p>
<p class="style2">
    Esta representación utiliza las palabras de los objetos del texto original, para generar búsquedas de imágenes en internet y arrojar resultados. En esta 
    propuesta se utilizan diferentes repositorios de imágenes especializados y no especializados (Las colecciones digitales de la Biblioteca Británica, el Victoria and Albert 
    Museum y Google). 
</p>


<p class="style2">
    Esta representación de los objetos se presenta como <span id="resaltador">una herramienta de analítica cultural (Manovich), donde las representaciones de los objetos 
    son el resultado de una sociedad digital hiperconectada</span>.
</p>

<table width="52%" cellspacing="0" cellpadding="3">
    <tr>
        <td width="14%"><div class="column">
            <label class="switch">
                <input [(ngModel)]="google" type="checkbox" name="cbGoogle" >
                <span class="slider"></span>
            </label>
        </div></td>
    
        <td width="86%"><div class="column">
            <span class="style2"> Google </span>
        </div></td>
    </tr>
    <tr>
        <td width="14%"><div class="column">
            <label class="switch">
                <input [(ngModel)]="victoria" type="checkbox" name="cbVnA">
                <span class="slider"></span>
            </label>
        </div></td>
    
        <td width="86%"><div class="column">
            <span class="style2"> V&amp;A </span>
        </div></td>
    </tr>
    <tr>
        <td width="14%"><div class="column">
            <label class="switch">
                <input [(ngModel)]="flickr" type="checkbox" name="cbFlickr" >
                <span class="slider"></span>
            </label>
        </div></td>
      
        <td width="86%"><div class="column">
            <span class="style2"> British Library </span>
        </div></td>
    </tr>
    <tr>
        <td width="14%"><div class="column">
            <div class="btn-group"><button class="button" name="btnChange" (click)="changeConfig()">Cambiar</button></div>
        </div></td>
        <td width="14%"><div class="column">
            <div class="btn-group"><a routerLink="/view" routerLinkActive="active"><button class="button">Aceptar</button></a></div>
        </div></td>
    </tr>
</table>

<p>{{msn}}</p>