<table width="52%" border="0" cellspacing="0" cellpadding="3">
    <tr>
        <td width="14%"><div class="column">
            <label class="switch">
                <input [(ngModel)]="google" type="checkbox" name="cbGoogle" >
                <span class="slider"></span>
            </label>
        </div></td>
    
        <td width="86%"><div class="column">
            <span class="style2"> Google </span>
        </div></td>
    </tr>
    <tr>
        <td width="14%"><div class="column">
            <label class="switch">
                <input [(ngModel)]="victoria" type="checkbox" name="cbVnA">
                <span class="slider"></span>
            </label>
        </div></td>
    
        <td width="86%"><div class="column">
            <span class="style2"> V&amp;A </span>
        </div></td>
    </tr>
    <tr>
        <td width="14%"><div class="column">
            <label class="switch">
                <input [(ngModel)]="flickr" type="checkbox" name="cbFlickr" >
                <span class="slider"></span>
            </label>
        </div></td>
      
        <td width="86%"><div class="column">
            <span class="style2"> British Library </span>
        </div></td>
    </tr>
    <tr>
        <td width="14%"><div class="column">
            <div class="btn-group"><button class="button" name="btnChange" (click)="changeConfig()">Change</button></div>
        </div></td>
        <td width="14%"><div class="column">
            <div class="btn-group"><a routerLink="/view" routerLinkActive="active"><button class="button">Play</button></a></div>
        </div></td>
    </tr>
</table>

<p>{{msn}}</p>