<div id="header"> <!-- end #header --></div>
<div id="container" class="oneColLiqCtrHdr"> 
    <div id="mainContent">
        <div allign="left">
            <p><span class="style1">Imagen </span></p>
            <p>
                La lectura de dos libros que son como una perfecta antítesis de comprensión intuitiva y de incomprensión sistemática del Arte y de la vida, me ha absorbido en estos días: 
                forman el primero mil páginas de pedantescas elucubraciones seudocientíficas, que intituló Degeneración un doctor alemán, Max Nordau, y el segundo, los dos volúmenes del 
                Diario, del alma escrita, de María Bashkirtseff, la dulcísima rusa muerta en París, de genio y de tisis, a los veinticuatro años, en un hotel de la calle de Prony.
            </p>
            <router-outlet></router-outlet>
        </div>
    </div>
  
    <div id="parrafo"></div> <!-- end parrafo -->
    <div id="footer"><!-- end #footer --></div>
<div id="container"> 